@import 'variables';

p {
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
  color: $colorWhite;
  background: transparent;
  border: 0;
  &:hover {
    color: #fff;
  }
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10vw;
  background: $outputColor;
  width: 100%;
  height: 30vh; /* 30% of screen*/
  text-align: left;
  p {
    margin-right: 20px;
    color: $colorBlack;
  }
}

.wrapper {
  height: 70vh; /*70% of screen*/
}

.calculations-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: $functionBtnColor;
  button {
    height: 11.21vh;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  input {
    background: $inputColor;
    color: $colorWhite;
    border: 0;
    width: 100%;
    height: 14vh;
    outline: none;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 30px;
  }
}

.scientific-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  button {
    min-width: calc(100%/6);
    padding: 0;
    border-right: 1px solid darken($functionBtnColor, 5%);
    border-bottom: 1px solid darken($functionBtnColor, 5%);
    &:hover {
      background: lighten($functionBtnColor, 5%);
    }
    &:active {
      background: darken($functionBtnColor, 2%);
    }
  }
}

.mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  .left-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 75%;
  }
}

.mobile-functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}

.mobile-functions button {
  min-width: calc(100%/3);
  padding: 0;
  border-right: 1px solid darken($functionBtnColor, 5%);
  border-bottom: 1px solid darken($functionBtnColor, 5%);
  &:hover {
    background: lighten($functionBtnColor, 5%);
  }
  &:active {
    background: darken($functionBtnColor, 2%);
  }
}

.input-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: $numberBtnColor;
  button {
    min-width: calc(100%/3);
    border-right: 1px solid darken($numberBtnColor, 5%);
    border-bottom: 1px solid darken($numberBtnColor, 5%);
    &:hover {
      background: lighten($numberBtnColor, 5%);
    }
    &:active {
      background: darken($numberBtnColor, 2%);
    }
  }
  #zero {
    min-width: calc(100%/3*2);
  }
}

.operators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  button {
    width: 100%;
    /* height: 14vh;*/
    background: $operatorBtnColor;
    border-bottom: 1px solid darken($operatorBtnColor, 5%);
    &:hover {
      background: darken($operatorBtnColor, 5%);
    }
    &:active {
      background: darken($operatorBtnColor, 10%);
    }
  }
}


@media (max-width: 600px) {
  .scientific-container {
    display: none;
  }
  .mobile-container {
    width: 100%;
  }
}
